/* TODO Make a globalized styling sheet and import this all */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.nav-button {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  background: transparent;
  outline: none;
  border: none;
}

.nav-icon {
  color: #424243;
  width: 36px !important;
  height: 36px !important;
  padding-top: 5px;
  padding-left: 5px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.body {
  transition: margin-left 0.5s;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 375px) {
  .nav-button {
    visibility: hidden;
  }
}
