.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(17, 17, 17, 0.98);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
