.bottom-nav {
  position: fixed;
  bottom: 0;
  height: 8vh;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-around;
}

.nav-icon:active {
  color: rgb(189, 189, 189);
}
